################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*/obj

/obj
/InSharpAssessment/obj/Debug/net6.0/WebAPI.GeneratedMSBuildEditorConfig.editorconfig
/InSharpAssessment/obj/Debug/net6.0/WebAPI.csproj.AssemblyReference.cache
/InSharpAssessment/obj/Debug/net6.0/WebAPI.assets.cache
/InSharpAssessment/obj/WebAPI.csproj.nuget.dgspec.json
/InSharpAssessment/obj/project.nuget.cache
/InSharpAssessment/obj/project.assets.json
/Services/obj/Services.csproj.nuget.dgspec.json
/Services/obj/project.nuget.cache
/Services/obj/project.assets.json
/Services/obj/Debug/net6.0/Services.GeneratedMSBuildEditorConfig.editorconfig
/Services/obj/Debug/net6.0/Services.assets.cache
/DataRepositories/obj/project.nuget.cache
/DataRepositories/obj/project.assets.json
/DataRepositories/obj/Debug/net6.0/DataRepositories.GeneratedMSBuildEditorConfig.editorconfig
/DataRepositories/obj/Debug/net6.0/DataRepositories.assets.cache
/DataRepositories/obj/DataRepositories.csproj.nuget.dgspec.json
/Common/bin/Debug/net6.0
/DataRepositories/bin/Debug/net6.0/DataRepositories.pdb
/DataRepositories/bin/Debug/net6.0/DataRepositories.dll
/DataRepositories/bin/Debug/net6.0/DataRepositories.deps.json
/DataRepositories/bin/Debug/net6.0/Common.pdb
/DataRepositories/bin/Debug/net6.0/Common.dll
/Services/bin/Debug/net6.0/Services.pdb
/Services/bin/Debug/net6.0/Services.dll
/WebAPI/bin/Debug/net6.0/WebAPI.pdb
/WebAPI/bin/Debug/net6.0/WebAPI.dll
/WebAPI/bin/Debug/net6.0/WebAPI.deps.json
/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/WebAPI/bin/Debug/net6.0/Swashbuckle.AspNetCore.Swagger.dll
/WebAPI/bin/Debug/net6.0/Services.pdb
/WebAPI/bin/Debug/net6.0/Services.dll
/WebAPI/bin/Debug/net6.0/Mapster.dll
/WebAPI/bin/Debug/net6.0/Mapster.Core.dll
/WebAPI/bin/Debug/net6.0/FluentValidation.dll
/WebAPI/bin/Debug/net6.0/DataRepositories.pdb
/WebAPI/bin/Debug/net6.0/DataRepositories.dll
/WebAPI/bin/Debug/net6.0/Common.pdb
/WebAPI/bin/Debug/net6.0/Common.dll
/WebAPI/WebAPI.csproj.user
